[Unit]
Description=RTSP proxy service for %i
BindsTo=mediamtx.service
Wants=mediamtx.service
After=mediamtx.service
ConditionPathExists=/etc/rtsp-proxy.ini

[Service]
Environment=ANV_VIDEO_DECODE=1 ANV_VIDEO_ENCODE=1
Type=simple
ExecStart=/usr/bin/rtsp-proxy --ini %i

[Install]
WantedBy=multi-user.target
